html {
  font-family: "Inter", -apple-system, "Nunito", BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  gap: 0.75vw;
  margin: 5vw 10vw 5vw 10vw;
  overflow: auto;
  scrollbar-width: none;
}

.album {
  text-decoration: none;
  color: black;
  font-size: 2.25vw;
  font-weight: 800;
  word-spacing: -0.4vw;
  flex: 0 0 60%;
}

.album:hover {
  color: grey;
}

.album:hover .cover {
  display: block;
}

.year {
  font-family: monospace;
  font-size: 0.75vw;
  font-weight: 100;
}

.cover {
  display: none;
  position: fixed;
  width: 32vw;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  filter: drop-shadow(0.75rem 0.75rem 0.5rem grey);
}
