<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/svg"
      href="{{ url_for('static', filename='favicon.svg') }}"
    />
    <title>MusicStreamer</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    {% if albums and albums|length %}
    {% for item in albums %}
    <a class="album" href="{{ item.url }}">
      {{ item.artist }} - {{ item.title }}
      <sup class="year">{{ item.year }}</sup>
      <img
        class="cover"
        src="{{ item.url }}/cover.jpg"
        alt="Album cover"
      />
    </a>
    {% endfor %}
    {% else %}
    <p class="album">
      No albums found!
    </p>
    {% endif %}
  </body>
</html>
