<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/svg"
      href="{{ url_for('static', filename='favicon.svg') }}"
    />
    <title>926</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div id="albumList">
      <a class="album" href="">
        <div>
          <p class="title">
            Modest Mouse - The Lonesome Crowded West
            <sup class="date">1997</sup>
            <img
              class="cover"
              src="{{ url_for('static', filename='albums/Modest_Mouse/1994/The_Lonesome_Crowded_West/cover.jpg') }}"
            />
          </p>
        </div>
      </a>
      <a class="album" href="">
        <div>
          <p class="title">
            Radiohead - Kid A
            <sup class="date">2000</sup>
            <img
              class="cover"
              src="{{ url_for('static', filename='albums/Radiohead/2000/Kid_A/cover.jpg') }}"
            />
          </p>
        </div>
      </a>
      <a class="album" href="">
        <div>
          <p class="title">
            Radiohead - In Rainbows
            <sup class="date">2007</sup>
            <img
              class="cover"
              src="{{ url_for('static', filename='albums/Radiohead/2007/In_Rainbows/cover.jpg') }}"
            />
          </p>
        </div>
      </a>
    </div>
  </body>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
</html>
