<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/svg"
      href="{{ url_for('static', filename='favicon.svg') }}"
    />
    <title>926</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div id="albumList">
      <a class="album" href="">
        <div>
          <p class="title">
            Artist - Album
            <sup class="date">1990</sup>
          </p>
        </div>
      </a>
      <a class="album" href="">
        <div>
          <p class="title">
            Artist - Album
            <sup class="date">1991</sup>
          </p>
        </div>
      </a>
      <a class="album" href="">
        <div>
          <p class="title">
            Artist - Album
            <sup class="date">1992</sup>
          </p>
        </div>
      </a>
    </div>
  </body>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
</html>
