html {
  font-family: "NB International Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.album {
  text-decoration: none;
}

.title {
  color: black;
  font-size: 2.5rem;
  font-weight: 600;
  margin-left: 10%;
  margin-bottom: 0%;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.title:hover {
  color: grey;
}

.year {
  font-family: monospace;
  font-size: 1rem;
  font-weight: 100;
}

.cover {
  display: none;
  position: fixed;
  width: 40rem;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  z-index: -1;
  filter: drop-shadow(0.75rem 0.75rem 0.5rem grey);
}

.title:hover .cover {
  display: block;
}
