html {
  font-family: monospace;
  display: flex;
  justify-content: center;
  width: 100%;
}

body {
  display: flex;
  flex-wrap: wrap;
  margin: 2.5% 10% 2.5% 10%;
  gap: 1.5rem;
}

.album {
  flex: 0 0 60%;
}

.title {
  text-decoration: none;
  color: black;
  font-size: 3rem;
  font-weight: 900;
  word-spacing: -1rem;
}

.title:hover {
  color: grey;
}

.title:hover .cover {
  display: block;
}

.year {
  font-size: 1rem;
  font-weight: 100;
}

.cover {
  display: none;
  position: fixed;
  width: 40rem;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  filter: drop-shadow(0.75rem 0.75rem 0.5rem grey);
}
